@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    src: local('Patrick Hand'), local('PatrickHand-Regular'), url('/fonts/PatrickHand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Pen Script'), local('NanumPenScript-Regular'), url('/assets/fonts/NanumPenScript-Regular.ttf') format('truetype');
    unicode-range: U+00-024F;
}
@font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSansTC-Regular'), url('/assets/fonts/NotoSansTC-Regular.otf') format('opentype');
    unicode-range: U+4E00-9FFF;
}

.theme-light {
  --background: #f8f8f8;
  --text: #313131;
}
.theme-dark {
  --background: #313131;
  --text: #f8f8f8;
}
.handwriting {
    font-family: 'Patrick Hand', cursive;
}

